<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="ca-gold">

    <rule ref="PSR2">
        <!-- Local machine can check out in local file ending, but all should be committed in LF -->
        <exclude name="Generic.Files.LineEndings" />
    </rule>

    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" value="sizeof=>count,delete=>unset,print=>echo,is_null=>null,create_function=>null,var_dump=>null,print_r=>null" />
        </properties>
    </rule>

    <arg name="extensions" value="php"/>
    <file>./application</file>
    <file>./src</file>
</ruleset>
