{% extends 'base.twig' %}

{% block title %}View Orders{% endblock %}

{% block content %}
    <a href="/orders/create" class="waves-effect waves-light btn">New Order</a>
    <table>
        {% for order in orders %}
            <tr>
                <td><a href="/orders/view/{{ order.id }}">{{ order.id }}</a></td>
                <td>{{ order.state }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
